footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(132, 132, 132);
    color: white;
    text-align: center;
    padding-bottom: 1em;
    a {
      color: white;
    }
  }