<div class="game">
  <p>Make your choice</p>
  <button (click)="choose('paper')">Paper</button>
  <button (click)="choose('rock')">Rock</button>
  <button (click)="choose('scissors')">Scissors</button>

  <jokenpo-loading *ngIf="loading"></jokenpo-loading>

  <div class="jokenpo-game" *ngIf="!loading">

  <div class="results row">

    <div class="my-choice column" [hidden]="userChoice.name === ''">
      <img src="./../../../assets/images/{{userChoice.name}}.png" class="choice">
      <p>Your choice: {{userChoice.name}}</p>
      <p>Wins: {{userChoice.wins}}</p>
    </div>
    <div class="machine-choice column" [hidden]="machineChoice.name === ''">
      <img src="./../../../assets/images/{{machineChoice.name}}.png" class="choice">
      <p>Machine choice: {{machineChoice.name}}</p>
      <p>Wins: {{machineChoice.wins}}</p>
    </div>
  </div>
  <div class="result-text">
    <p>{{result}}</p>
  </div>
</div>

</div>
<jokenpo-footer></jokenpo-footer>