#loading-group {
    text-align: center;
    margin: 1em auto;
}

.loading-img {
    width: 2em;
    opacity: 0;
    animation: rotation 1s linear infinite;
}

#rock-loading {
}

#paper-loading {
    animation-delay: .3s;
}

#scissors-loading {
    animation-delay: .6s;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    50% {
        transform: rotate(359deg);
        opacity: 0;
        display: none;
    }
}

